<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">WHAT</h2>
                    <h3 class="section-subheading text-muted">What is BANG LAB. ?</h3>
                </div>
            </div>
            <div class="row text-center">
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Handrafting</h4>
                    <p class="text-muted">I love to make all handcrafting things. </p>
                </div> -->
                <div class="col-md-4">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <h4 class="service-heading">_</h4>
                    <p class="text-muted"> </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Making and selling soy candles</h4>
                    <p class="text-muted">The first product of BANGLAB is fabulous candles!! We make to use GoldenWax 646 and CandleScience oil from U.S. <b>Also, we sell candles too!</b> You can choose <a href="http://www.banglab.com/soy/fragrance-for-candles/">fragrance</a> and size. </p>
                </div>
            </div>
        </div>
    </section>